:root {
  --header-footer-color: #33292a;
  --navigation: #fff;
  --navigation-hover: rgb(226, 129, 145);
  --what-we-do: #3c2f31;
  --button-hover: #e9877b;
  --footer-text1: rgb(232, 156, 168);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
.cage {
  width: 70%;
  margin: 0 auto;
}
/*Navigation menu*/
.navigation-menu {
  background-color: var(--header-footer-color);
  position: relative;
}
.ham {
  float: right;
  margin-right: 40px;
}
.hamburger {
  width: 30px;
  margin-top: 5px;
  display: none;
  position: absolute;
}
.navigation-list {
  display: flex;
  list-style: none;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  padding: 20px 0;
}
.nav-item a {
  color: var(--navigation);
  text-decoration: none;
  font-size: 16px;
}
.nav-item a:hover {
  color: var(--navigation-hover);
}
@media (max-width: 768px) {
  .nav-item {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
}
/*Your Travel Assistant image*/

.top-image-cage {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.top-image-text {
  position: absolute;
  color: white;
  text-align: right;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  top: 20%;
  right: 15%;
}

@media (max-width: 768px) {
  .top-image-text {
    font-size: 25px;
  }
}

/*About Us*/
.about-us-cage {
  display: flex;
  gap: 20px;
  width: 70%;
  margin: 0 auto;
}
.about-us-text,
h2 {
  text-align: left;
  font-size: 20px;
  margin: 10px 0;
}
.about-us-text {
  width: 50%;
  font-size: 10px;
  padding: 20px 0;
}
.au-text {
  text-align: justify;
}
.about-us-image {
  width: 50%;
  border-radius: 5px;
  padding: 40px 0;
  display: flex;
}
img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .about-us-cage {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .about-us-cage {
    flex-direction: column;
  }
  .about-us-text,
  .about-us-image {
    width: 100%;
  }
}

/*What We Do*/

#what-we-do {
  background-color: var(--what-we-do);
}
.what-we-do-cage {
  width: 70%;
  margin: 0 auto;
}
.what-we-do-text {
  padding: 40px;
}
.wwdh2 {
  margin: 10px;
}
.text-white {
  color: var(--navigation);
  text-align: center;
}
.wwd-gallery {
  display: flex;
  justify-content: space-between;
}
.wwd-image-case {
  width: 10%;
  padding-bottom: 40px;
}
h3 {
  text-align: center;
  color: var(--navigation);
}
@media (max-width: 768px) {
  .what-we-do-cage {
    width: 90%;
  }
}
/*Our Trips*/

.our-trips-cage {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}
.ot-image-case {
  width: calc(100% / 3 - 20px / 3);

  display: flex;
}
.ot-text {
  background-image: none;
  justify-content: center;
  align-items: center;
}
img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .our-trips-cage {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .ot-image-case {
    width: 100%;
  }
}
/*Contact*/

#contact {
  background-color: #4f4040;
}
.contact-cage {
  display: flex;
  gap: 10px;
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
}
.port {
  width: 30%;
}
.question {
  text-align: left;
  color: var(--navigation);
  font-size: 19px;
  padding-right: 10px;
  margin: 0;
}
.starboard {
  width: 70%;
}
.cont {
  text-align: left;
}
.button {
  width: 80px;
  height: 25px;
  background-color: var(--navigation);
  border-radius: 3px;
  margin-top: 20px;
  display: flex;
}
.button:hover {
  background-color: var(--button-hover);
  width: 100px;
}
a {
  color: black;
  font-weight: 800;
  font-size: 8px;
  text-decoration: none;
  align-self: center;
  align-content: center;
  margin: auto;
}
@media (max-width: 768px) {
  .contact-cage {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .contact-cage {
    flex-direction: column;
  }
  .port,
  .starboard {
    width: 90%;
  }
  .question,
  .cont {
    text-align: center;
  }

  .button {
    margin: 20px auto;
  }
}

/*Reviews*/

.reviews-case {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.upper-part {
  padding-bottom: 30px;
  width: 80%;
  margin: 0 auto;
}
.reviews {
  text-align: center;
  color: black;
  font-size: 15px;
  padding-top: 25px;
  padding-bottom: 10px;
}
.rev-text-up {
  padding: 0 70px;
  text-align: center;
}
.lower-part {
  display: flex;
  padding-top: 30px;
  gap: 30px;
}
.r-port,
.r-starboard {
  width: 50%;
}

.picture {
  width: 60px;
  height: 60px;

  margin: auto;
}
.rev-pict {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.rev-text-low {
  padding: 25px;
  text-align: center;
}
@media (max-width: 768px) {
  .reviews-case {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .upper-part {
    width: 100%;
  }
  .lower-part {
    flex-direction: column;
    width: 100%;
  }
  .r-port,
  .r-starboard {
    width: 100%;
  }
}
/*Gallery*/
.gallery-case {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.gal-image-case {
  width: 50%;
  transition: transform 0.25s;
}
.gal-image-case:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.gal-img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .gallery-case {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .gallery-case {
    width: 90%;
  }
  .gal-image-case {
    width: 100%;
  }
}
/*Footer*/

.footer {
  background-color: var(--header-footer-color);
}
.footer-text-1 {
  text-align: center;
  color: var(--footer-text1);
  padding-top: 20px;
  padding-bottom: 5px;
  text-decoration: underline;
}
.footer-text-2 {
  text-align: center;
  color: var(--navigation);
  padding-bottom: 20px;
}
